<!-- 底部-开始 -->
<div class="footer">
  <div class="links-block clearfix">
        <div class="links-list-block clearfix">
      <div class="likes-title">友情链接：</div>
      <div class="links" id="links_list">
        <div class="likes-list">
          <a href="http://www.funjpg.com" target="_blank">搞笑图片</a>
      <a href="http://www.kuaidi.com/all/ems.html" target="_blank">ems快递查询</a>
      <a href="http://ping.nalc.com.cn" target="_blank">人物网</a>
      <a href="http://www.ysany.com" target="_blank">中国信息网</a>
      <a href="http://www.mbiquge.la" target="_blank">笔趣阁</a>
      <a href="http://www.ruxiba.com" target="_blank">霹雳布袋戏</a>
      <a href="http://hao.360.cn" target="_blank">360导航</a>
    </div>
      </div>
    </div>
    </div>
  <div class="footer-content">
    <div class="about">
      <!--about--></div>
    <div class="coypright">
      <p>Copyright 2016
        FunJPG版权所有 <a href="http://www.miitbeian.gov.cn/">苏ICP备16009192号-2</a> <script src="https://s95.cnzz.com/z_stat.php?id=1259874370&web_id=1259874370" language="JavaScript"></script>
          <!-- tongji --></p>
    <p>FunJPG专门分享搞笑图片的网站(原木蚂蚱娱乐网)  <a href="http://www.funjpg.com/about">关于本站</a></p>
  </div>
  </div>
</div>
<!-- 底部-结束 -->
<!--回到顶部-开始-->
<div class="return-top" id="j-return-top">
  <div class="return-btn"></div>
</div>
<!--回到顶部-结束-->
<script type='text/javascript' src='http://www.funjpg.com/wp-includes/js/wp-embed.min.js?ver=4.8.6'></script>
<script>
  with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>